{% extends "base.html" %}
{% set active_page = "/" %}
{% block head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block style %}
<style>
  p {
    hyphens: auto;
    text-align: "justify";
  }
  .info-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
  }
  .addScroll {
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>
{% endblock %}
{% block body %}
<div class="container">
  <h2 class="my-4">
    Stadtklimatologische Untersuchung &mdash; Mülheim an der Ruhr
  </h2>
  <p>
    Zwischen dem 30.05.2021 und 31.05.2021 wurden im Bereich der Innenstadt- und
    des Rumbachtals stadtklimatologische Untersuchungen durchgeführt. Die
    Messpunkte sind auf der Karte dargestellt. Zwei Gruppen führten jeweils 4
    Messdurchgänge an 12 fesgelegten Punkten durch, immer von West
    (Schloßbrücke) nach Ost (Rumbachtal).<br />
    Durch Klicken auf den Messpunkt können alle erhobenen Messdaten als Diagramm
    dargestellt werden. Die verschiedenen Stationen und Parameter können unter
    <a href="/compare">Stationsvergleich</a> miteinander verglichen werden.
  </p>
  <div id="map_row" class="row">
    <div class="col">
      <div class="info-box" id="map" style="height: 741px"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  // TODO this is kinda a hack :)
  var point_data = {{ geojson | safe }};
  var map = L.map("map").setView([51.4273, 6.89718], 15);

  L.tileLayer(
    "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
    {
      maxZoom: 18,
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
    }
  ).addTo(map);
  var points_layer = L.geoJSON(point_data).addTo(map).on("click", wrap);

  function wrap(e) {
    map.invalidateSize();
    map.setView([e.latlng.lat, e.latlng.lng]);
    doSomething(e);
    createPlot(e.layer.feature.properties.station);
  }

  function doSomething(e) {
    let map = document.getElementById("map_row");
    let info_html = `
    <div class="info-box">
        <button type="button" class="btn btn-light" onclick="removeInfoPane();">X</button>
        <h3 style="text-align: center;">Station Nr. ${e.layer.feature.properties.station} - ${e.layer.feature.properties.name}</h3>
        <div class="text-center addScroll" style="height: 600px;">
          <p>Lufttemperatur 2 m [°C]<p>
          <div class="m-2" id="temperature"></div>
          <h5>Relative Feuchte [%]<p>
          <div class="m-2" id="relhum"></div>
          <p>Oberflächentemperatur [°C]</p>
          <div class="m-2" id="surf_temp"></div>
          <p>Windgeschwindigkeit [m/s]</p>
          <div class="m-2" id="wind_speed"><div>
          <p>Windrichtungshäufigkeit [%]</p>
          <div class="m-2" id="wind_dir"><div>
        </div>
    </div>
      `;
    if (document.getElementById("info_pane") == null) {
      let info = document.createElement("div");
      info.className = "col-lg-5";
      info.id = "info_pane";
      info.innerHTML = info_html;
      map.appendChild(info);
    } else {
      let info = document.getElementById("info_pane");
      info.innerHTML = info_html;
    }
  }
  async function createPlot(station) {
    let temp_200 = await getData(station, "lufttemp_5");
    let temp_5 = await getData(station, "lufttemp_200");
    let relhum = await getData(station, "relhum");
    let surf_temp_top = await getData(station, "oberfl_temp_unten");
    let surf_temp_bot = await getData(station, "oberfl_temp_oben");
    let surf_temp_left = await getData(station, "oberfl_temp_links");
    let surf_temp_right = await getData(station, "oberfl_temp_rechts");
    let wind_speed_200 = await getData(station, "windgeschw_200");
    let wind_speed_5 = await getData(station, "windgeschw_5");
    let wind_dir = await getWindData(station);
    let config = { responsive: true };
    let layout = {
      xaxis: {
        title: "Datum",
        tickformat: "%Y~%m~%d %H:%M",
        tickangle: 15,
      },
      yaxis: {
        title: "",
      },
      height: 250,
      margin: {
        l: 40,
        r: 40,
        b: 10,
        t: 10,
        pad: 4,
      },
      showlegend: true,
      legend: {
        orientation: "h",
        x: 0.5,
        y: -0.5,
        xanchor: "center",
      },
    };
    let layout_temp = layout;
    layout_temp.yaxis.title = temp_200.unit;
    Plotly.newPlot("temperature", [temp_200, temp_5], layout_temp, config);
    let layout_relhum = layout;
    layout_temp.yaxis.title = relhum.unit;
    Plotly.newPlot("relhum", [relhum], layout_relhum, config);
    let layout_surf_temp = layout;
    layout_surf_temp.yaxis.title = surf_temp_top.unit;
    layout_surf_temp.height = 300;
    Plotly.newPlot(
      "surf_temp",
      [surf_temp_top, surf_temp_bot, surf_temp_left, surf_temp_right],
      layout_surf_temp,
      config
    );
    let layout_wind_speed = layout;
    layout_wind_speed.yaxis.title = wind_speed_200.unit;
    Plotly.newPlot(
      "wind_speed",
      [wind_speed_200, wind_speed_5],
      layout_wind_speed,
      config
    );

    let layout_wind_dir = {
      margin: {
        l: 40,
        r: 40,
        b: 10,
        t: 10,
        pad: 4,
      },
      legend: {
        orientation: "h",
        x: 0.5,
        xanchor: "center",
      },
      polar: {
        barmode: "overlay",
        bargap: 0,
        radialaxis: { ticksuffix: "%", angle: 45, dtick: 20 },
        angularaxis: { direction: "clockwise" },
      },
    };
    Plotly.newPlot("wind_dir", wind_dir, layout_wind_dir);
  }

  async function getData(station, param) {
    let request = "/api/data?station=" + station + "&param=" + param;
    const response = await fetch(request);
    let data = await response.json();
    return data;
  }
  async function getWindData(station) {
    let request = "/api/data/wind?station=" + station;
    const response = await fetch(request);
    let data = await response.json();
    return data;
  }
  function removeInfoPane() {
    let to_remove = document.getElementById("info_pane");
    to_remove.parentNode.removeChild(to_remove);
  }
</script>
{% endblock %}
