{% extends "base.html" %}
{% set active_page = "/" %}
{% block head %}
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""
  ></script>
{% endblock %}
{% block style %}
  <style>
    p {
      hyphens: auto;
      text-align: "justify";
    }
    .info-box {
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      padding-bottom: 50px;
    }
    .addScroll {
      overflow-y: auto;
      overflow-x: hidden;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="container">
    <h2 class="my-4">
      Stadtklimatologische Untersuchung &mdash; Mülheim an der Ruhr
    </h2>
    <p>
      Zwischen dem 30.05.2021 und 31.05.2021 wurden im Bereich der Innenstadt- und
      des Rumbachtals stadtklimatologische Untersuchungen durchgeführt. Die
      Messpunkte sind auf der Karte dargestellt. Zwei Gruppen führten jeweils 4
      Messdurchgänge an 12 fesgelegten Punkten durch, immer von West
      (Schloßbrücke) nach Ost (Rumbachtal).<br />
      Durch Klicken auf den Messpunkt können alle erhobenen Messdaten als Diagramm
      dargestellt werden. Die verschiedenen Stationen und Parameter können unter
      <a href="/compare">Stationsvergleich</a> miteinander verglichen werden.
    </p>
    <div id="map_row" class="row">
      <div class="col">
        <div class="info-box" id="map" style="height: 741px"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    let point_data = {{ geojson | safe }};
    let map = L.map("map").setView([51.4273, 6.89718], 15);

    L.tileLayer(
      "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
      {
        maxZoom: 18,
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
      }
    ).addTo(map);
    let points_layer = L.geoJSON(point_data)
      .addTo(map)
      .on("click", ShowStationInfo);
    function ShowStationInfo(e) {
      map.invalidateSize();
      map.setView([e.latlng.lat, e.latlng.lng]);
      createInfoPane(e);
      createPlot(e.layer.feature.properties.station);
    }
  </script>
{% endblock %}
